<!-- white container -->
<div class="container" id="about-me">
  <h1 class="bottom-heading"> About me</h1>
  
  <!-- gray container which contains name and heading  -->
  <div class="container1">
    <div class="icon-container">
      <a href="https://www.linkedin.com/in/vaishnavi-sinnur-b81089267/" target="_blank" class="icon-link">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/vaish_sinnur" target="_blank" class="icon-link">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://x.com/Vaishishnavi212" target="_blank" class="icon-link">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://github.com/vaishnavisinnur" target="_blank" class="icon-link">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>

    <div class="content">
      <h1 class="greet">Hey there!... I'm</h1>
      <h1>Vaishnavi Sinnur</h1>
      <h2>Learner | Software Developer</h2>
      <p>Exploring MCA Studies at Dayanand Sagar Institution</p>
      <p>Welcome to my digital hub,
      <br> where I share insight and resources on the topics that fascinate me 
      </p>
    </div>
  </div>
</div>

<div class="nav">  
  <div class="box">
    <a href="#about-me">Home</a>
  </div>
  <div class="box">
    <a href="#about-me">About</a>
  </div>
  <div class="box">
    <a href="#projects">Projects</a>
  </div>
  <div class="box">
    <a href="#contact">Contact</a>
  </div>   
</div>

<!-- Background Container -->
<div class="container2" id="about-me">
  <div class="content1">
    <h2 class="intro1">👋 Hello My name is vaishnavi sinnur and I am a 1-year Masters's 
       Student exploring MCA Studies at Bangalore</h2>

    <h2 class="intro2">🏢 I have previously done projects on Android development and 
      Angular Framework I will be showcasing below.    
    </h2>
    <h2 class="intro3"> I'm currently in my first year, and I'm dedicated to developing my skills by diving into Angular projects and exploring different frameworks to enhance my web development abilities.
       Excited to learn and grow in this field!</h2>
    <h2 class="intro4">You can reach out to me on my contact page</h2>
  </div>
  <img src="assets/images/profile.jpg" alt="Profile Image" class="profile-img">
</div>

<div class="projects" id="projects">
   <h1 class="headline"> Projects</h1>
   <div class="image-container">
    <img src="assets/images/pic1.jpg" alt="pic1" class="pic1">
    <img src="assets/images/pic2.jpg" alt="pic2" class="pic2">
    <img src="assets/images/pic3.jpg" alt="pic3" class="pic3">
   </div>

  <div class="proinfo">
    <h1 class="prohead">Android Development</h1>
    <p class="inf">A <span class="blue">mobile app</span> built to help students. Allows users to get college information like <span class="blue">admission details, time table, notes, syllabus, staff details.</span>
    <br>
    With <span class="blue">Firebase integration</span>, security and convenience are at the forefront, ensuring a personalized and secure experience for every user.
    <br>
    <span class="centered-text">Embrace the mobile-centric lifestyle of today's student with this app, offering a</span>
    <br>
    <span class="centered-text">flexible and dynamic platform for all your college needs</span>
    </p>
    <p class="gray1"> > Firebase . XML . Java </p>
    <h2 class="git1">
    <span class="blue"> <i class="fa-brands fa-github"></i> Source Code  </span>
    </h2>
  </div>
</div>

<div class="project2">
  <div class="text-container">
    <h1 class="taskhead">Task Manager</h1>
    <p class="para">TaskManager is an <span class="blue">Angular-based  application </span>designed  to  <br>enhance organization and  productivity for both users and administrators. <br>It provides a centralized platform 
    to efficiently manage tasks <br> and projects, enabling better task allocation, tracking, and <br>progress monitoring. <br> As it is a  <span class="blue">Single page

    Application </span>, offers a seamless user experience by dynamically updating content  without requiring <br>
    full page reloads.
    <br>
    It allows for better <span class="blue">task allocation, tracking, and progress monitoring.</span>
  </p>
    <p class="gray">>Angular Framework - Angular CLI . NodeJs . MySQL</p>
  </div>
  <h2 class="git">
    <span class="blue"> <i class="fa-brands fa-github"></i> Source Code  </span>
  </h2>
  <div class="im-container">
    <img src="assets/images/im1.jpg" alt="im1" class="im1">
    <img src="assets/images/im2.jpg" alt="im2" class="im2">
  </div>
</div>

<div class="project3" id="contact">
  <img src="assets/images/shakehand.jpg" alt="Sh" class="shakehand">
  <h1 class="contact"> Tell me about your next Project </h1>

  <div class="btns">
    <button class="Email me">Email</button>
    <button class="">linkedin</button>
  
  </div>
  
  <a href="assets/files/cv.pdf" download="Vaishnavi_Sinnur_CV.pdf">
    <button class="cv">Download CV</button>
  </a>
  <p class="angu">This site is crafted with Angular</p>
  
</div>
